# This workflow will build a Swift project and run tests
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-macos:
    runs-on: macos-26

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "26.0"

    - name: Install Godot
      run: |
        brew install godot
        godot --version

    - name: Build
      run: swift build --build-tests --quiet

    - name: Run Swift tests (Swift Testing)
      run: swift test --skip-build --no-parallel --disable-xctest

    - name: Run Swift tests (XCTest)
      run: swift test --skip-build --no-parallel --disable-swift-testing

    - name: Run Godot-based tests
      run: swift run SwiftGodotTestRunner

  build-and-test-windows:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Swift Install
        uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.1-branch
          tag: 6.1-DEVELOPMENT-SNAPSHOT-2025-01-22-a

      - uses: actions/checkout@v4

      - name: Build
        run: swift build --build-tests --quiet

      - name: Run Swift tests (Swift Testing)
        run: swift test --skip-build --no-parallel --disable-xctest

      - name: Run Swift tests (XCTest)
        run: swift test --skip-build --no-parallel --disable-swift-testing

  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: skiptools/swift-android-action@v2
        with:
          build-tests: false

  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.0"

      - name: Install Godot
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip
          wget https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_linux.x86_64.zip
          unzip Godot_v4.3-stable_linux.x86_64.zip
          sudo mv Godot_v4.3-stable_linux.x86_64 /usr/local/bin/godot
          sudo chmod +x /usr/local/bin/godot
          godot --version

      - name: Build
        run: swift build --build-tests --quiet

      - name: Run Swift tests (Swift Testing)
        run: swift test --skip-build --no-parallel --disable-xctest

      - name: Run Swift tests (XCTest)
        run: swift test --skip-build --no-parallel --disable-swift-testing

      - name: Run Godot-based tests
        run: swift run SwiftGodotTestRunner
