# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: macos-14

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "16.0"
    - name: Install XCPretty
      run: gem install xcpretty
    - name: Build
      run: swift build -v | xcpretty
    - name: Run tests (XCTest)
      run: swift test --no-parallel --disable-swift-testing --verbose | xcpretty
    - name: Run tests (Swift testing)
      run: swift test --no-parallel --disable-xctest --verbose

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.10-release
          tag: 5.10-RELEASE
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -v
        